
.v-application {
  font-family: 'Open Sans', sans-serif!important;
  color:#42A5F5!important;
}
h3 {
  letter-spacing: 0.1875rem !important;
}
h5 {
  letter-spacing: 0.1875rem;
  font-weight: 700
}
h6 {
  letter-spacing: 0.1875rem;
  size: 1rem;
  font-weight: 700
}
