$dark-font:#424242;

.v-application {
  font-family: 'Montserrat', sans-serif!important;
}
h1 {
  letter-spacing: 0.5rem !important;
  font-weight: normal;
}
h3 {
  letter-spacing: 0.1875rem !important;
  font-weight: 500;
  font-size: 1.5rem;
}
h5 {
  letter-spacing: 0.1875rem;
  font-weight: 700
}
h6 {
  letter-spacing: 0.1875rem;
  size: 1rem;
  font-weight: 700
}
p{
  font-size: 1.2rem;
}
/* *********Home Page************ */

.carouselText{
  span:not(:last-child){
    color: $dark-font;
  }
}
.carousalItems div[class^="v-image__image"] {
  width: 60%;
  background-size: 100% 100%;
  animation: carouselImage 1s 1;
}

@media screen and (max-width: 768px){
  .carousalItems div[class^="v-image__image"], .carouselDiv{
    height:250px!important;
  }
  .carouselText{
    h2{
      font-size: 1rem;
    }
  }
  .font-20{
    font-size: 0.75rem;
  }
} 

@media screen and (min-width: 769px){
  .font-20{
    font-size: 1.47rem;
    line-height: 2;
  }
  .is-custom-padding{
    padding-top: 8%;
  }
}

@keyframes carouselImage {
  0%{
    margin-left: -1000px;
  }
  30% {
		margin-left: -1000px;
	}
	85% {
		margin-left: -1000px;
	}
}
/* End of Home Page */